@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.appNameContainer{
    height: 70px;
    background-color: #512B58;
    top: 0;
    position: absolute;
    width: 100%;
    margin: auto;
}

.drawerContainer{
    position: absolute;
    top: 12px;
    right: 12px;
}

.btnsContainer{
    display: none;
}   

.appName{
    color: white;
    font-family: 'Pacifico', cursive;
    display: inline;
}

@media (min-aspect-ratio: 1/1), (min-width: 800px) {
    .drawerContainer{
        display: none;
    }

    .logBtn{
        display: inline-block;
        margin-right: 12px;
    }
    
    .regBtn{
        display: inline-block;
    }

    .btnsContainer{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }   
}