@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.appNameContainer{
    height: 70px;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    width: 100%;
    margin: auto;
    background: rgb(123 80 131);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
}

.drawerContainer{
    position: absolute;
    top: 12px;
    right: 12px;
}

.btnsContainer{
    display: none;
}   

.appName{
    color: #F9F9F9;
    font-family: 'Pacifico', cursive;
    display: inline;
}

@media (min-aspect-ratio: 1/1), (min-width: 800px) {
    .drawerContainer{
        display: none;
    }

    .logBtn{
        display: inline-block;
        margin-right: 12px;
    }
    
    .regBtn{
        display: inline-block;
    }

    .btnsContainer{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }   
}