@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.appNameContainer{
    height: 70px;
    background-color: #440A67;
    top: 0;
    position: absolute;
    width: 100%;
    margin: auto;
}

.appName{
    color: white;
    font-family: 'Pacifico', cursive;
    display: inline;
}