.registerButton{
    color: #93329E;
}

.registerButton:hover {
    color: #512B58;
}

.emailField{
    margin-bottom: 15px;
}

.passField{
    margin-bottom: 15px;
}

.loginBtn{
    margin-bottom: 15px;
}

.loginErr{
    color: red;
}

@media (min-width: 800px) {
    .pageContainer{
        margin-top: 120px;
    }
}