.registerButton{
    color: #93329E;
}

.registerButton:hover {
    color: #512B58;
}

.emailField{
    margin-bottom: 15px;
}

.passField{
    margin-bottom: 15px;
}

.loginBtn{
    margin-bottom: 15px;
}

.loginErr{
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(77, 77, 77);
}
  
  .tooltip .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    width: 180px;
    background-color: rgb(77, 77, 77);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 1s;
    padding: 15px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(77, 77, 77) transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

@media (min-width: 800px) {
    .pageContainer{
        margin-top: 120px;
    }
}