.navbar{
    position: absolute;
    top: 0px;
    height: 50px;
}

.homeBtn{
    position: absolute;
    transform: scale(1.8);
    left: 20px;
    top: 15px;
}

.profileBtn{
    position: fixed;
    right: 20px;
    top: 15px;
    transform: scale(1.8);
}

