.navbar{
    position: relative;
    top: 0px;
    height: 50px;
    z-index: 100;
}

.homeBtn{
    position: absolute;
    transform: scale(1.8);
    left: 20px;
    top: 15px;
    color: #F9F9F9;
}

.profileBtn{
    position: absolute;
    right: 20px;
    top: 15px;
    transform: scale(1.8);
    color: #F9F9F9;
}

@media (max-aspect-ratio: 1/1), (max-width: 800px) {
    .navbar{
        display: none;
    }
  }
