.pauseBtn{
    position: relative;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 1px;
    padding-right: 5px;
    cursor: pointer;
}

.pauseBtn:hover{
    background-color: rgba(238, 238, 238, 0.212);
}

.pauseIcon{
    position: relative;
    top: 2px;
}

.pauseText{
    position: relative;
    bottom: 4px;
}