.cardContainer{
    position: relative;

}

.imagesResultsContainer{
    /* background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 2000; */
}

.imagesContainer{
}

.cardHeader{
    position: relative;
    width: 100%;
    height: 40px;
}

.username{
    position: absolute;
    margin-right: auto;
    left: 15px;
    top: -5px;
    font-weight: 700;
    display: inline-block;
}

.deleteContainer{
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 8px;
}

.pauseContainer{
    position: absolute;
    background-color: transparent;
    right: 40px;
    top: 3px;
}

.image1{
    width: 50vw;
    height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.image2{
    width: 50vw;
    height: 50vw;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-position: center;
    object-fit: cover;
}

.title{
    text-align: left;
    margin-left: 10px;

}

.description{
    text-align: left;
    margin-left: 10px;
}

.time{
    text-align: right;
    margin-right: 10px;
} 

.cardDivider{
    background-color: rgba(199, 198, 198, 0.384);
    margin: 0;
    border-bottom: none;
    border-width: 0px;
    height: 1px;
}


@media (min-aspect-ratio: 1.5/1), (min-width: 800px) {
    .image1{
        width: 50%;
        height: 100%;
    }
    
    .image2{
        width: 50%;
        height: 100%;
    }

    .imagesContainer{
        height: 350px;
    }    

    .cardContainer{
        margin: auto;
        width: 700px;
        padding: 10px;
    }
}
