.cardContainer{
}

.username{
    text-align: left;
    margin-left: 10px;
    font-weight: 700;
}

.imagesContainer{
}

.image1{
    width: 50vw;
    height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.image2{
    width: 50vw;
    height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.title{
    text-align: left;
    margin-left: 10px;

}

.description{
    text-align: left;
    margin-left: 10px;

}

.time{
    text-align: right;
    margin-right: 10px;
} 


@media (min-aspect-ratio: 1/1), (min-width: 800px) {
    .image1{
        width: 25vw;
        height: 25vw;
        min-width: 350px;
        max-width: 350px;
    }
    
    .image2{
        width: 25vw;
        height: 25vw;
        min-width: 350px;
        max-width: 350px;
    }

    .cardContainer{
        width: 50vw;
        margin:auto;
        min-width: 700px;
    }
}
