.accountContianer{
    position: relative;
    width: 95%;
    max-width: 700px;
    padding: 5px;
    margin: auto;
    margin-bottom: 0px;
}

.nameNote{
    font-size: 12px;
    color: rgb(117 117 117);
    margin: 2px;
}

.newPassContainer{
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.newNameContainer{
    display: inline-block;
    margin: auto;
    padding: 20px;
}

.passBorder{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
}

.nameBorder{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    border-bottom: none;
}

.passLabel{
    display: block;
    text-align: left;
}

.nameLabel{
    display: block;
    text-align: left;
    margin-bottom: 3px;

}

.passField{
    display: block;
}
