.windowContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 111;
}

.voteWindow{
    position: absolute;
    height: 80vh;
    width: 95vw;
    min-width: 280px;
    max-width: 400px;
    min-height: 570px;
    max-height: 700px;
    background-color: white;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
    z-index: 100;
}

/* .voteImage{
    width: 100%;
    height: auto;
    max-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
} */

.quitVoteWindow {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.imageToggleContainer {
    position: relative;
    width: 95vw;
    min-width: 280px;
    max-width: 400px;
    min-height: 500px;
    max-height: 700px;
    margin: auto;
    display: inline-block;
}

@media (min-aspect-ratio: 1.5/1), (min-width: 800px) {
    /* .voteImage{
        width: auto;
        max-width: 100%;
        height: 80%;
    } */
    .imageToggleContainer {
        max-height: 800px;
        max-width: 700px;
        min-height: 0;
    }
    .voteWindow{
        max-width: 700px;
        max-height: 1000px;
        min-height: 0;

    }
}